<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestSuite" parallel="false">
	<listeners>
		<!--<listener class-name="ExtentReportListener.ExtentReport" />-->
		<listener class-name="listeners.TestListener"/>
	</listeners>
	<test name="Mobile App Test">
		<parameter name="platformName" value="Android"/>
		<parameter name="platformVersion" value="9.0"/>
		<parameter name="emulator" value="true" />
		<parameter name="deviceName" value="emulator-5554"/>
		<parameter name="udid" value="replace_with_device_udid"/>
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="pages.AmazonShopTest"></class>
		</classes>
	</test>
<!--
	<test name="iPhone11">
		&lt;!&ndash;<listeners>
			<listener class-name="listeners.TestListener" />
		</listeners>&ndash;&gt;
		<parameter name="platformName" value="iOS" />
		<parameter name="udid" value="replace_with_device_udid" />
		<parameter name="deviceName" value="iPhone11" />
		<parameter name="wdaLocalPort" value="10001" />
		<parameter name="webkitDebugProxyPort" value="11001" />
		<classes>
			<class name="pages.AmazonShopTest"></class>
		</classes>
	</test>-->
</suite>