<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestSuite" parallel="false">
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
		<listener class-name="listeners.TestListener"/>
	</listeners>
	<test name="Mobile App Test">
		<parameter name ="platformName" value="Android"/>
		<parameter name ="platformVersion" value="9.0"/>
		<parameter name ="deviceName" value="emulator-5554"/>
		<classes>
			<class name="pages.AmazonShopTest"></class>
		</classes>
	</test>
</suite>